<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:weightSum="203">
    <FrameLayout
        android:id="@+id/menu_img"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="145">
        <FrameLayout
            android:id="@+id/menu_n"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:visibility="invisible">
            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical|center_horizontal"
                android:src="@drawable/dr_btn_n"/>
            <ImageView
                android:id="@+id/img_n"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical|center_horizontal" />
        </FrameLayout>
        <FrameLayout
            android:id="@+id/menu_p"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:visibility="invisible">
            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical|center_horizontal"
                android:src="@drawable/dr_btn_p"/>
            <ImageView
                android:id="@+id/img_p"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical|center_horizontal" />
        </FrameLayout>
        <FrameLayout
            android:id="@+id/menu_d"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:visibility="invisible">
            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical|center_horizontal"
                android:src="@drawable/dr_btn_d"/>
            <ImageView
                android:id="@+id/img_d"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical|center_horizontal" />
        </FrameLayout>
    </FrameLayout>
    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="15"/>
    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="43">
        <TextView
            android:id="@+id/menu_text"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center_vertical|center_horizontal"
            android:textSize="@dimen/text_size_menu"
            android:textColor="@color/colorMenu" />
    </FrameLayout>
</LinearLayout>