<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humaxdigital.automotive.statusbar"
    android:sharedUserId="android.uid.system">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="25"/>

    <protected-broadcast android:name="com.humaxdigital.automotive.droplist.action.OPEN_DROPLIST" />
    
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION"/>
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" 
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" 
        android:protectionLevel="signature" />
    <uses-permission android:name="com.android.systemui.permission.PLUGIN" 
        android:protectionLevel="signature" />

    <application>
        <service android:name=".StatusBarOverlayPlugin"
            android:singleUser="true"
            android:label="@string/plugin_label">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_OVERLAY" />
            </intent-filter>
        </service>
        <service android:name=".StatusBarProxyPluginImpl"
            android:singleUser="true"
            android:label="@string/plugin_label">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_STATUS_BAR_PROXY" />
            </intent-filter>
        </service>
        <service 
            android:name=".service.StatusBarService"
            android:singleUser="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.humaxdigital.automotive.statusbar.service.StatusBarService"></action>
            </intent-filter>
        </service>
    </application>

</manifest>
